default:
    suites:
        organization:
            contexts:
                - Organization\Behat\OrganizationDomainContext
            filters:
                tags: "@organization"
        user:
            contexts:
                - User\Behat\UserDomainContext
            filters:
                tags: "@user"
        event:
            contexts:
                - Event\Behat\EventDomainContext
            filters:
                tags: "@event"