default:
    suites:
        organization:
            contexts:
                - Organization\Behat\OrganizationDomainContext
            filters:
                tags: "@organization"
        organization_app:
            contexts:
                - Organization\Behat\OrganizationApplicationContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@organization && @app"
        talk:
            contexts:
                - Talk\Behat\TalkDomainContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@talk"
        talk_app:
            contexts:
                - Talk\Behat\TalkApplicationContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@talk"
        user:
            contexts:
                - User\Behat\UserDomainContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@user"
        user_app:
            contexts:
                - User\Behat\UserApplicationContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@user"
        event:
            contexts:
                - Event\Behat\EventDomainContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@event"