default:
    suites:
        organization:
            contexts:
                - Organization\Behat\OrganizationDomainContext
                - User\Behat\UserFixturesContext
                - Geo\Behat\GeoFixturesContext
            filters:
                tags: "@organization"
        organization_app:
            contexts:
                - Organization\Behat\OrganizationApplicationContext
                - User\Behat\UserFixturesContext
                - Geo\Behat\GeoFixturesContext
            filters:
                tags: "@organization"
        talk:
            contexts:
                - Talk\Behat\TalkDomainContext
                - User\Behat\UserFixturesContext
                - Organization\Behat\OrganizationFixturesContext
            filters:
                tags: "@talk"
        talk_app:
            contexts:
                - Talk\Behat\TalkApplicationContext
                - User\Behat\UserFixturesContext
                - Organization\Behat\OrganizationFixturesContext
            filters:
                tags: "@talk"
        user:
            contexts:
                - User\Behat\UserDomainContext
                - User\Behat\UserFixturesContext
                - Geo\Behat\GeoFixturesContext
                - Organization\Behat\OrganizationFixturesContext
            filters:
                tags: "@user"
        user_app:
            contexts:
                - User\Behat\UserApplicationContext
                - User\Behat\UserFixturesContext
                - Organization\Behat\OrganizationFixturesContext
            filters:
                tags: "@user"
        event:
            contexts:
                - Event\Behat\EventDomainContext
            filters:
                tags: "@event"
        event_app:
            contexts:
                - Event\Behat\EventApplicationContext
                - User\Behat\UserFixturesContext
            filters:
                tags: "@event && @app"
