parameters:
	bootstrap: tests/bootstrap.php
	ignoreErrors:
	    - '#Parameter \#3 \$founder of class Organization\\Entity\\OrganizationEntity constructor expects User\\Entity\\UserEntity, Mockery\\MockInterface|User\\Entity\\UserEntity given.#'
	    - '#Parameter \#4 \$hometown of class Organization\\Entity\\OrganizationEntity constructor expects Geo\\Entity\\CityEntity, Mockery\\MockInterface given.#'
	    - '#Parameter \#1 \$speaker of method Talk\\Entity\\TalkEntity::setSpeaker\(\) expects User\\Entity\\UserEntity, Mockery\\MockInterface given.#'
